*.gem
*.rbc
.bundle
.config
.yardoc
Gemfile.lock
InstalledFiles
_yardoc
coverage
doc/
lib/bundler/man
pkg
rdoc
spec/reports
test/tmp
test/version_tmp
tmp
spec/fixtures/xlarge.log
mac_addrs.txt
ip_addrs.txt
TODO.md
.idea
*.iml
lib/sns_utils/man
